menu "Led Manager Configuration"
    config WLED_DIN_PIN
        int "WLED Data In Pin"
        default 14
        help
            The number of the WLED data in pin.

    config STATUS_WLED_PIN
        int "Status WLED Pin"
        default 2
        help
            The number of the status WLED pin.

    config LED_STRIP_MAX_LEDS
        int "Maximum number of LEDs"
        default 800
        help
            The maximum number of LEDs that can be controlled.
endmenu
