menu "System Control"
    menu "WiFi Configuration"
        config WIFI_ENABLED
            bool    "Enable WiFi"
            default y
            help
                Enable or disable WiFi connectivity.

        config WIFI_CONNECT_RETRIES
            depends on WIFI_ENABLED
            int     "WiFi Connection Retry Attempts per Network"
            default 3
            help
                Number of times to retry connecting to each WiFi network before trying the next one.
    endmenu

    menu "Display Settings"
        config DISPLAY_SDA_PIN
            int     "I2C SDA Pin"
            default 35
            help
                GPIO pin number for the SDA line of the display.

        config DISPLAY_SCL_PIN
            int     "I2C SCL Pin"
            default 36
            help
                GPIO pin number for the SCL line of the display.
    endmenu

    menu "Button Configuration"
        config BUTTON_UP
            int     "Button UP GPIO Pin"
            default 1
            help
                GPIO pin number for the up button.

        config BUTTON_DOWN
            int     "Button DOWN GPIO Pin"
            default 6
            help
                GPIO pin number for the down button.

        config BUTTON_LEFT
            int     "Button LEFT GPIO Pin"
            default 3
            help
                GPIO pin number for the left button.
        
        config BUTTON_RIGHT
            int     "Button RIGHT GPIO Pin"
            default 5
            help
                GPIO pin number for the right button.
        
        config BUTTON_SELECT
            int     "Button SELECT GPIO Pin"
            default 18
            help
                GPIO pin number for the select button.

        config BUTTON_BACK
            int     "Button BACK GPIO Pin"
            default 16
            help
                GPIO pin number for the back button.
    endmenu
endmenu
