# esp-idf
build/
managed_components/
sdkconfig
sdkconfig.old
dependencies.lock
config.env
kconfigs_projbuild.in
kconfigs.in
config/

# cmake
cmake-build-debug
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
CMakeScripts
compile_commands.json

# They ignored Idea (Webstorm) completely
.idea/
.cache/

# However, they kept the following 4 files version controlled
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
__pycache__
_deps/
.cmake/
.ninja_*
bin/
components/**/*.a
*.ninja
Testing/*
