# default ESP target
CONFIG_IDF_TARGET="esp32c6"

#
# Display Settings
#
CONFIG_DISPLAY_SDA_PIN=22
CONFIG_DISPLAY_SCL_PIN=23
# end of Display Settings

#
# Button Configuration
#
CONFIG_BUTTON_UP=18
CONFIG_BUTTON_DOWN=17
CONFIG_BUTTON_LEFT=20
CONFIG_BUTTON_RIGHT=19
CONFIG_BUTTON_SELECT=1
CONFIG_BUTTON_BACK=2
# end of Button Configuration

CONFIG_WLED_DIN_PIN=21
CONFIG_STATUS_WLED_PIN=16

CONFIG_API_SERVER_HOSTNAME="system-control"

CONFIG_LWIP_MAX_SOCKETS=20
